html
  head
    title="Mindflayer"
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="/js/jquery.animateNumber.min.js")
  body
    hgroup
      h1#logo Mindflayer
    #mount
      #intro
        div Try saying something like "Roll 3d20" or "Roll a six-sided die."
      #diceroll
      #result
      #results
      #lastRolls
        h2 Last Rolls
        ul
          li
          li
          li
          li
          li
    script(src="/js/script.js")
