html
  head
    title="Mindflayer.io | Voice-powered Dice Roller"
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel='canonical', href='https://www.mindflayer.io/')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
    meta(name='description', content="Mindflayer is a voice-powered dice roller for tabletop gaming. Just leave it up, and it'll listen for commands!")
    meta(property='og:title', content='Mindflayer.io | Voice-powered Dice Roller')
    meta(property='og:description', content="Mindflayer is a voice-powered dice roller for tabletop gaming. Just leave it up, and it'll listen for commands!")
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Mindflayer')
    meta(property='og:url', content='https://www.mindflayer.io/')
    meta(property='og:image', content='https://www.mindflayer.io/img/mindflayer.jpg')
    link(rel="stylesheet", href="/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Lato:100,400,700", rel="stylesheet")
  body
    hgroup#topbar
      h1#logo
        div#flash
        span Mindflayer
        div#cube
    #mount
      #intro
        #introText Tell Mindflayer to "Roll 3d20" or "Roll for initiative."
      #diceroll
      #result
      #results
      #bottomBar
        h2#lastRollLabel Last Rolls
        ul#lastRolls
          li.roll
          li.roll
          li.roll
          li.roll
          li.roll
    script(src="/js/script.js")
