html, body {
  height: 100%;
}

body {
    /*background: rgba(40,206,137,1);
    background: -moz-linear-gradient(-45deg, rgba(40,206,137,1) 0%, rgba(42,196,196,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(40,206,137,1)), color-stop(100%, rgba(42,196,196,1)));
    background: -webkit-linear-gradient(-45deg, rgba(40,206,137,1) 0%, rgba(42,196,196,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(40,206,137,1) 0%, rgba(42,196,196,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(40,206,137,1) 0%, rgba(42,196,196,1) 100%);
    background: linear-gradient(135deg, rgba(40,206,137,1) 0%, rgba(42,196,196,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28ce89', endColorstr='#2ac4c4', GradientType=1 );*/
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
}

#background:before
{
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgba(0, 0, 200, 0.6) , rgba(0, 0, 200, 0) );
}

#background
{
	position: fixed;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: -1;
	background: linear-gradient(120deg, rgba(50, 150, 100, 0.6) , rgba(0, 0, 100, 0) );
}

#background:after
{
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(240deg, rgba(150, 50, 50, 0.6) , rgba(0, 0, 200, 0) );
}

#topbar {
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.25);
    margin-bottom: 25px;
}

#logo {
    color: #ffffff;
    font-size: 36px;
    background: url('../img/d20.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 50px;
    position: relative;
    width: 225px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

#cube {
    position: absolute;
    top: 0;
    left: 0;
    /*background: url('../img/d20_glow.png');*/
    background: url('../img/d20_active.png');
    background-size: contain;
    width: 44px;
    height: 44px;
    z-index: 2;
    content: ' ';
    opacity: 0;
}

#intro {
    position: absolute;
    top: 80px;
    left: 0;
    transition: opacity 1s;
}

#introText {
    font-size: 50px;
    font-weight: 100;
    width: 100vw;
    text-align: center;
    height: calc(100vh - 110px);
    display: table-cell;
    vertical-align: middle;
    padding: 0 20%;
    color: #fff;
    opacity: 0.8;
    transition: opacity 1s;
}

#intro.hidden {
    opacity: 0;
}

#diceroll {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.66);
    font-size: 67px;
    font-weight: 100;
    text-align: right;
    position: absolute;
    right: 45px;
}

#results {
    display: flex;
    width: 50%;
    margin: auto;
}

.result {
    flex-grow: 1;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.66);
    position: relative;
}

.result:after {
    content: '+';
    position: absolute;
    right: -30px;
    width: 60px;
    text-align: center;
    font-weight: 100;
    font-size: 36px;
    line-height: 57px;
}

.result:last-of-type:after {
    display: none;
}

#result {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 120px;
    font-size: calc(75vh - 200px);
}

#bottomBar {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    display: none;
    overflow: hidden;
}

#lastRollLabel {
    margin: 0;
    font-size: 16px;
    padding: 0 12px;
    color: rgba(255, 255, 255, 0.66);
}

#lastRolls {
    margin: 10px 0px;
    padding: 0;
    height: 120px;
}

.roll {
    list-style: none;
    display: inline-block;
    width: 20%;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
}

.roll:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.2);
}

.roll:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.3);
}

.roll:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.4);
}

.roll:nth-child(4) {
    background-color: rgba(255, 255, 255, 0.5);
}

.roll:nth-child(5) {
    background-color: rgba(255, 255, 255, 0.6);
}

#flash {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,127,127,1) 0%, rgba(255,127,127,0) 50%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,127,127,1) 0%,rgba(255,127,127,0) 50%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,127,127,1) 0%,rgba(255,127,127,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 22px;
  left: 22px;
  opacity: 0.5;
  transition: all 0.1s;
}

@media (max-width: 878px) {

    .roll {
        width: 33%;
    }

    .roll:nth-child(2) {
        width: 34%;
    }

    .roll:nth-child(4) {
        display: none;
    }

    .roll:nth-child(5) {
        display: none;
    }

    #diceroll {
        font-size: 40px;
        right: 30px;
    }

    .result {
        font-size: 32px;
    }

    .result:after {
        font-size: 24px;
        line-height: 36px;
    }

}

@media (max-width: 575px) {

    #results {
        display: none;
    }

    #introText {
        font-size: 32px;
    }

    .roll {
        width: 50%;
    }

    .roll:nth-child(2) {
        width: 50%;
    }

    .roll:nth-child(3) {
        display: none;
    }

}
